<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <style>
        :root {
            --font-size-base: 11px;
        }

        * {
            font-family: "Roboto" !important;
            font-size: var(--font-size-base);
        }

        .line-break {
            border: none;
            border-top: 0.25px solid #000;
            width: 100%;
        }

        .draft-watermark {
            position: fixed;
            top: 180px;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 220px;
            font-weight: 900;
            color: rgb(200, 197, 195);
            transform: rotate(-23deg);
            z-index: -1;
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
        }

        .pb-2 {
            padding-bottom: 2px;
        }

        .pb-3 {
            padding-bottom: 3px;
        }


        .h1 {
            font-size: 14px;
            font-weight: 900;
            word-wrap: break-word;
            padding-bottom: 8px;
        }

        .invoice-type {
            font-size: 14px;
            font-weight: 500;
            word-wrap: break-word;
            padding-bottom: 9px;
        }

        .h2 {
            font-weight: 500;
            padding-bottom: 3px;
        }

        .h3 {
            font-weight: 500px;
            font-size: 10px;
        }

        .invoice-data {
            display: flex;
            justify-content: space-between;
            color: #696969;
            padding-bottom: 3px;
        }

        footer,
        .page-footer-space {
            height: 70px;
        }

        footer {
            position: fixed;
            bottom: 0px;
            width: 100%;
        }

        @media print {
            thead {
                display: table-header-group;
            }

            tfoot {
                display: table-footer-group;
            }

            .no-page-break {
                page-break-inside: avoid;
            }
        }
    </style>
</head>

<body style="width: 100%; margin: 0; padding: 0;">


    <table>

        <thead>
            <tr>
                <td>
                    {{{this.HeaderRowOne}}}
                </td>
            </tr>
            <tr>
                <td style="height: 13px;"></td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <!--*** CONTENT GOES HERE ***-->
                    <div class="remaining-header">
                       {{{this.HeaderRowTwo}}}
                    </div>

                    {{{this.Table}}}
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td>
                    <!--place holder for the fixed-position footer-->
                    <div class="page-footer-space"></div>
                </td>
            </tr>
        </tfoot>
    </table>

    <footer
        style="
        display: flex; align-items: flex-end;
        justify-content: CENTER; 
         margin-left: -21px; "
    >
        <div style="text-align: CENTER;">
            <div style="white-space: pre-wrap">Invoice: <b>39935</b><br>Due date: <b>12-03-2025</b></div>
        </div>
    </footer>



</body>

</html>