<div style="display: flex; justify-content: space-between; padding-top: 10px;">
    <div style="width: 40%; text-align: left; vertical-align: top;">
        <div class="h1">customer name</div>
        <div class="pb-3 h3">
            <span>customer address</span>
        </div>
        <div class="pb-3 h3">
            <span>postal code</span>
        </div>
        <div class="pb-3 h3">
            <span>country</span>
        </div>
        <div class="pb-3 h3">
            <span>Att.: </span>
            <span>abcdefgh</span>
        </div>
        <div class="pb-3 h3">
            <span>CVR no.: </span>
            <span>37233994</span>
        </div>
    </div>
    <div style="width: 34%; text-align: left; padding-left: 60px; vertical-align: top;">
        <div class="invoice-type">Invoice</div>
        <div class="invoice-data">
            <div style="width: 50%; word-wrap: break-word;">Invoice no.: </div>
            <div style="width: 47%;">39935</div>
        </div>
        <div class="invoice-data">
            <div style="width: 50%; word-wrap: break-word;">Invoice date: </div>
            <div style="width: 47%;">12-03-2025</div>
        </div>
        <div class="invoice-data">
            <div style="width: 50%; word-wrap: break-word;">Due date: </div>
            <div style="width: 47%;">12-03-2025</div>
        </div>
        <div class="invoice-data">
            <div style="width: 50%; word-wrap: break-word;">Customer no.: </div>
            <div style="width: 47%;">12339935</div>
        </div>
    </div>
</div>
<div>
    <div style="width: 100%; padding-top: 26px; padding-bottom: 36px;">
        Description description description description description description description
    </div>
</div>