<div style="display: flex; justify-content: space-between; align-items:end;">
    <div style="min-width: 50%; margin-left: -2px;">
        <img style="height: 104px; width: 310px; text-align: left;"
            src="https://fastly.picsum.photos/id/974/200/300.jpg?hmac=QEuRqsjG8spkqu72dWfkl4m-kSl5p-CEfHgx9dnnZLo" />
    </div>
    <div style="width: 50%; text-align: right; padding-bottom: 10px;">
        <div class="h1">Managed Account 1</div>
        <div class="h2">
            <span>Address</span>
        </div>
        <div class="h2">
            <span>Postal</span>
        </div>
        <div class="h2">
            <span>country</span>
        </div>
        <div class="h2">
            <span>CVR no.: </span>
            <span>000000610</span>
        </div>
    </div>
</div>

<div style="margin-top: 16px;" class="line-break"></div>