<main style="margin-top: 30px;">
    <table style="border-collapse: collapse; width: 100%;">
        <thead>
            <tr>
                <th
                    style="text-align: LEFT; padding: 8px; margin-top: 10px; background-color: #f6f6f6; word-wrap: break-word; width: 15.671641791044776119402985074%;">
                    Type
                </th>
                <th
                    style="text-align: LEFT; padding: 8px; margin-top: 10px; background-color: #f6f6f6; word-wrap: break-word; width: 37.313432835820895522388059700%;">
                    Invoice
                </th>
                <th
                    style="text-align: RIGHT; padding: 8px; margin-top: 10px; background-color: #f6f6f6; word-wrap: break-word; width: 16.417910447761194029850746268%;">
                    Date
                </th>
                <th
                    style="text-align: LEFT; padding: 8px; margin-top: 10px; background-color: #f6f6f6; word-wrap: break-word; width: 13.432835820895522388059701492%;">
                    Lalala
                </th>

                <th
                    style="text-align: RIGHT; padding: 8px; margin-top: 10px; background-color: #f6f6f6; word-wrap: break-word; width: 17.164179104477611940298507462%;">
                    Value
                </th>
                <th
                    style="text-align: RIGHT; padding: 8px; margin-top: 10px; background-color: #f6f6f6; word-wrap: break-word; width: 17.164179104477611940298507462%;">
                    Money
                </th>
                <th
                    style="text-align: RIGHT; padding: 8px; margin-top: 10px; background-color: #f6f6f6; word-wrap: break-word; width: 17.164179104477611940298507462%;">
                    Yooo
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    Invoice
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    book-id-123
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    01/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: LEFT; vertical-align: top;">
                    09/12/2024
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    USD
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
                <td style="border-bottom: 1px solid #f6f6f6; padding: 8px; text-align: RIGHT; vertical-align: top;">
                    111,00
                </td>
            </tr>
        </tbody>
    </table>
</main>